.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupPhotoContainer {
  width: 35%;
}

.groupPhotoContainer img {
  width: 100%;
}

.aboutDescriptionContainer {
  width: 50%;
}

.aboutDescriptionContainer h2 {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #373737;
  line-height: 175%;
}
