.logo {
  max-height: 100px;
}

.headerContainer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 25px 50px;
  height: 150px;
}

.nav {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  color: #4f4f4f;
  padding: 0 30px;
  text-decoration: none;
}

.nav:hover {
  text-decoration: underline;
}
