.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.listContainer .Link {
  text-decoration: none;
}

.listContainer h1 {
  font-family: Raleway, sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #2a2a2a;
  text-decoration: none;
}

.imageContainer {
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 21px;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-out;
}

.imageContainer:hover {
  background-color: rgb(235, 235, 235);
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

#LTD-link {
  text-decoration: none;
}
