.slideshowContainer {
  display: flex;
  justify-content: center;
}

.slideshow {
  opacity: 0.3;
}

.imageText {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 40%;
}

.statementText {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 56px;
  font-weight: 700;
}
