.logo {
  max-height: 100px;
}

.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 25px 50px;
  height: 150px;
  background-color: white;
}

.nav {
  font-family: 'arial';
  padding: 0 30px;
  color: #181818;
  text-decoration: none;
}

.nav:hover {
  text-decoration: underline;
}
