.detailsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 178px;
  margin-right: 178px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.detailsContainerRight {
  display: flex;
  flex-direction: column;
  margin-left: 178px;
  margin-right: 178px;
  align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.detailsContainer img {
  max-width: 76px;
  max-height: 76px;
}

.detailsContainer h3 {
  font-family: Raleway, sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: #373737;
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* TODO: Fix manual offset by adjusting vertical margins */
.detailsContainer p {
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 42px;
  color: #929292;
  margin-top: 0px;
  margin-bottom: 0px;
}

.detailsContainerRight h3 {
  font-family: Raleway, sans-serif;
  font-size: 56px;
  font-weight: 600;
  color: #373737;
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.detailsContainerRight p {
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 42px;
  color: #929292;
  margin-top: 0px;
  margin-bottom: 0px;
}
